
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthenticatedUsers</title>
</head>
<body>
    <h1>
        ¡Bienvenidos usuarios autenticados y autorizados!
    </h1>
</body>
</html>
